.env
*.pyc
__pycache__/
db.sqlite3
/static/
/media/
/*.log
*.sqlite3
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
.env.*
local_settings.py
node_modules/
coverage.xml
htmlcov/
*.cover
*.pid
celerybeat-schedule
celerybeat.pid
*.db
*.sass-cache
*.cache
*.pyo
*.orig
*.~ 
warp.md